@import '../../../style_sheets/variables';
@import '../../../style_sheets/mixins';

.wrapper{
  height: 5rem;
  width: 100%;
  background-color: $dark;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 18vw;
  position: relative;

  .menuIconWrap{
    height: 2em;
    width: 2em;
    position: absolute;
    left: 10vw;
    transition: .5s ease-in-out;
    z-index: 3;
  }
  
  .openMenuShift{
    left: 17em;
    transition: .5s ease-in-out;
  }
  
  .mainLinks{    
    display: flex;
    justify-content: center;
    align-items: center;
    @include menu-links;
  }
}


@media only screen and (max-width: 450px){
  .wrapper{
    padding: 0 1vw;
    .mainLinks{
      display: none;
    }
  }  
}