@import '../../../style_sheets/variables';
@import '../../../style_sheets/mixins';

.wrapper{
  height: 5rem;
  width: 100%;
  background-color: $dark;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 18vw;
  position: relative;

  .menuIconWrap{
    height: 2em;
    width: 2em;
    position: absolute;
    left: 3em;
    transition: 1s ease-in-out;
  }
  
  .openMenuShift{
    z-index: 99999 !important;
    left: 10em;
    transition: 1s ease-in-out;
  }
  
  .mainLinks{    
    display: flex;
    justify-content: center;
    align-items: center;
    @include menu-links;
  }
}
