@import 'variables';

.about-wrapper{
  height: calc(100vh - 5em);
  background-color: $hotpink;
  .art-face{
    height: 100%;
    width: auto;
    position: absolute;
    bottom: -5rem;
    right: -20%;
  }
}